<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserScoreDetailMapper">
  <resultMap id="BaseResultMap" type="com.study.dto.UserScoreDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="score_type" jdbcType="VARCHAR" property="scoreType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, score, total_score, create_time, score_type, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_score_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getUserTotalScore" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_score_detail
    where user_id = #{userId,jdbcType=BIGINT} order by create_time desc limit 1
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_score_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.study.dto.UserScoreDetail" useGeneratedKeys="true">
    insert into user_score_detail (user_id, score, total_score, 
      create_time, score_type, remark
      )
    values (#{userId,jdbcType=BIGINT}, #{score,jdbcType=INTEGER}, #{totalScore,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{scoreType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.study.dto.UserScoreDetail" useGeneratedKeys="true">
    insert into user_score_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="scoreType != null">
        score_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scoreType != null">
        #{scoreType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.dto.UserScoreDetail">
    update user_score_detail
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scoreType != null">
        score_type = #{scoreType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.dto.UserScoreDetail">
    update user_score_detail
    set user_id = #{userId,jdbcType=BIGINT},
      score = #{score,jdbcType=INTEGER},
      total_score = #{totalScore,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      score_type = #{scoreType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>